<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Larkin LLC</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <!--<link rel="stylesheet" type="text/css" media="all"-->
    <!--href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>

    <div th:include="navigation::dispatcher_nav_bar"></div>

</body>

</html>