<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Larkin LLC</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <!--<link rel="stylesheet" type="text/css" media="all"-->
    <!--href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>
<div th:fragment="table (tbodyId, deliveries)">
    <table class="table table-striped">
        <thead>
        <tr>
            <td></td>
            <td th:text="#{deliveries.number}">Order Number</td>
            <td th:text="#{deliveries.shift}">Shift</td>
            <td th:text="#{deliveries.volume}">Volume</td>
            <td th:text="#{deliveries.destinationStreet}">Street</td>
            <td th:text="#{deliveries.destinationCity}">City</td>
            <td th:text="#{deliveries.destinationZip}">Street</td>
            <td th:text="#{deliveries.isReturn}">Return</td>
            <td th:text="#{deliveries.availableparts}">Available Parts</td>
            <td th:text="#{deliveries.parts}">Parts</td>
        </tr>
        </thead>

        <tbody th:id="${tbodyId}">
        <tr th:each="d : ${deliveries}" th:class="${d.delivery.orderNumber}">
            <td><input type="checkbox"/></td>
            <td><input type="text" readonly="readonly"  th:value="${d.delivery.orderNumber}"/> </td>
            <td th:text="${d.delivery.deliveryShift == null} ? '' : #{${'shift.' + d.delivery.deliveryShift}}">M</td>
            <td th:classappend="${d.delivery.return} ? 'total_ul' : 'total_dl'" class="total" th:text="${d.delivery.volume * d.items / d.delivery.quantity}"></td>
            <td hidden="hidden" class="single" th:text="${d.delivery.volume / d.delivery.quantity}"></td>
            <td th:text="${d.delivery.street}">1080 Bearses way</td>
            <td th:text="${d.delivery.city}">New York</td>
            <td th:text="${d.delivery.zip}">23800</td>
            <td> <input type="checkbox" disabled="disabled" th:checked="${d.delivery.return}"/></td>
            <td class="allitems" th:text="${d.items}">10</td>
            <td class="items"><input type="number" name="items" th:value="${d.items}"/></td>
            <td hidden="hidden"><input type="text" name="delivery" th:value="${d.delivery.id}"/></td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>