<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{loads.manage_load}">Manage Load</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
</head>
<body>

<div th:include="navigation::dispatcher_nav_bar"></div>

<form action="/loads" th:action="@{/loads}" method="post" th:object="${load}">

    <div>
        <label th:text="#{deliveries.date}">Date</label>
        <input type="text" readonly="readonly" th:field="*{date}" th:value="*{date}"/>
    </div>

    <div>
        <label th:text="#{deliveries.shift}">Shift</label>
        <input type="text" readonly="readonly" th:value="#{${'shift.' + load.shift}}"/>
        <input type="text" hidden="hidden" th:field="*{shift}"/>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" th:text="#{loads.assigned}"></div>
        <div class="panel-body">
            <p th:text="#{loads.message}"></p>
        </div>
        <div th:include="loadsTable::table (assigned,*{deliveries})">...</div>
    </div>
    <!--<input id="submit" type="submit" value="ok"/>-->
    <button id="submit" class="btn btn-default" th:text="#{loads.submit}" value="ok">submit</button>
</form>

<div class="btn-group">
    <button id="up" class="glyphicon glyphicon-arrow-up btn btn-default"></button>
    <button id="down" class="glyphicon glyphicon-arrow-down btn btn-default"></button>
</div>

<div id="errors" class="alert alert-danger" hidden="hidden">
    <p th:text="#{loads.volume.error}">The maximum volume is exceeded</p>
</div>
<div id="warns" class="alert alert-warning" hidden="hidden">
    <p th:text="#{loads.shift.error}">Some deliveries are wanted to be delivered at the different time</p>
</div>

<div class="panel panel-default">
    <div class="panel-heading" th:text="#{loads.free}"></div>
    <div th:include="loadsTable::table (unassigned, ${deliveries})">...</div>
</div>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"/>
<script src="/resources/scripts/app.js"/>
</body>
</html>