<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Larkin LLC</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
    <!--<link rel="stylesheet" type="text/css" media="all"-->
    <!--href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>
<div th:fragment="dispatcher_nav_bar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand" th:text="#{project.title}">Larkin LLC</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/deliveries}" th:text="#{deliveries.title}">Deliveries</a></li>
                    <li><a th:href="@{/loads}" th:text="#{dispatcher.loads}">Manage loads</a></li>
                    <li><a th:href="@{/upload}" th:text="#{dispatcher.upload}">Upload new CSV</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

</body>

</html>