<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{deliveries.title}">Deliveries</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/common.css"/>
</head>
<body>

<div th:include="navigation::dispatcher_nav_bar"></div>

<div class="container">
    <div class="row" th:if="${showMessage}">
        <div class="com-md-8">
            <div class="alert-warning" th:text="#{upload.message}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data"
                  action="/upload">
                <div class="form-group">
                    <label th:text="#{upload.file}">File to upload:</label>
                    <input type="file" name="file"/>

                    <p class="help-block" th:text="#{upload.help}">The file should be CSV file</p>
                    <input type="submit" value="Upload"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>