<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{deliveries.title}">Deliveries</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/common.css"/>
</head>
<body>

<div th:include="navigation::driver_nav_bar"></div>


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" action="/driver" method="get" th:action="@{/driver}">
                <div class="form-group">
                    <label th:text="#{deliveries.date}">Date</label>
                    <input type="date" name="date" th:value="${date}"/>
                </div>
                <input id="submit" class="btn btn-default" type="submit" th:value="#{ok}"/>
            </form>
        </div>
    </div>



    <div th:unless="${#maps.isEmpty(loadsAndShifts)}" th:each="entry: ${loadsAndShifts.entrySet()}">
        <div class="row" th:with="load = ${entry.key}">
            <div class="col-md-8">
                <form class="form-inline" action="/driver/download">

                    <div>
                        <input hidden="hidden" type="text" th:value="${load.date}" name="date"/>
                    </div>

                    <div>
                        <label th:text="#{deliveries.shift}">Shift</label>
                        <input readonly="readonly" type="text" th:value="#{${'shift.' + load.shift}}"/>
                        <input hidden="hidden" type="text" th:value="${load.shift}" name="shift"/>
                    </div>

                    <div th:if="${load.tour != null}">
                        <label th:text="#{loads.distance}"></label>

                        <p th:text="${load.tour.distance}"></p>
                    </div>
                    <div>
                        <button type="submit" th:text="#{driver.download}" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="row" th:with="parts = ${entry.value}">
            <div class="col-md-12" th:unless="${#lists.isEmpty(parts)}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th th:text="#{driver.order}">Order</th>
                        <th th:text="#{deliveries.number}">Order Number</th>
                        <th th:text="#{deliveries.destinationState}">State</th>
                        <th th:text="#{deliveries.destinationCity}">City</th>
                        <th th:text="#{deliveries.destinationZip}">Zip</th>
                        <th th:text="#{deliveries.destinationStreet}">Address</th>
                        <th th:text="#{deliveries.date}">Date</th>
                        <th th:tel="#{deliveries.parts}">Parts</th>
                        <th th:text="#{deliveries.destinationName}">Client Name</th>
                        <th th:text="#{deliveries.phone}">Phone Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p, iterStat: ${parts}">
                        <td th:text="${iterStat.count}">NC</td>
                        <td th:text="${p.delivery.orderNumber}">NC</td>
                        <td th:text="${p.delivery.state}">NC</td>
                        <td th:text="${p.delivery.city}">NY</td>
                        <td th:text="${p.delivery.zip}">02673</td>
                        <td th:text="${p.delivery.street}">blah</td>
                        <td th:text="${p.delivery.deliveryDate}">date</td>
                        <td th:text="${p.items}">3</td>
                        <td th:text="${p.delivery.clietName}">client</td>
                        <td th:text="${p.delivery.phoneNumber}">777-7-777</td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-md-8" th:if="${#lists.isEmpty(parts)}">
                <div class="warn">
                    <p th:text="#{driver.load}">Load is not constructed</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" th:if="${#maps.isEmpty(loadsAndShifts)}">
        <div class="col-md-8">
            <div th:text="#{driver.noloads}"> No loads</div>
        </div>
    </div>
</div>

</body>
</html>